<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Amr Diab Tribute</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="main-title">Father of Mediterranean Music</h1>
            <p class="desc">Amr Diab (Arabic: عمرو دياب, born on 11 October 1961)
                is an Egyptian singer, composer and actor. He has established himself as 
                a globally acclaimed recording artist and author. He is a Guinness World 
                Record holder, the best selling Middle Eastern artist, a seven-times 
                winner of World Music Awards and five-times winner of Platinum Records.
            </p>
        </div>
        <div class="featured-image">
            <figure>
                <img src="https://images.ctfassets.net/4cd45et68cgf/2ycQ9nwQDwsjK60lwLpsZz/4ec60188ff974753cea3398bee7614ae/AMR_DIAB_-_NETFLIX_3rd_PHOTO.jpg" alt="The Amr Diab Singer">
                <figcaption>The Amr Diab Singer</figcaption>
            </figure>
        </div>
        <div class="biography-container">
            <h2>Diab's Musical Journey</h2>
        <p>
            Diab, a renowned Egyptian artist, debuted with his album "Ya Tareeq" in 1983. He continued releasing albums like "Ghanny Men Albak" (1984), followed by more records like "Hala Hala" (1986), "Khalseen" (1987), and "Mayyal" (1988). One of his tracks even made it to the top 10 global songs at the time.
        </p>
        <p>
            He later brought out albums such as "Shawa'na" (1989), "Matkhafesh" (1990), "Habibi" (1991), "Ayyamna" (1992), and others up to "Rag'een" (1995). In 1992, he became a trailblazer by producing high-tech music videos in the Middle East.
        </p>
        <p>
            In 1996, his album "Nour El Ain" marked a turning point, earning him a World Music Award and international recognition. Diab's collaborations with Khaled and Angela Dimitriou also stood out. His song "Nour El Ain" was noted for blending Western and Egyptian rhythms.
        </p>
        <p>
            Switching to Rotana Records in 2004, he released "Leily Nahary," followed by successful albums like "Kammel Kalamak" (2005) and "El Lilady" (2007).
        </p>
        <p>
            Despite a leak, his album "Wayah" garnered attention, and he secured four African Music Awards in 2009. In 2011, his single "Masr Allet" gained popularity, and his album "Banadeek Taala" was produced by Rotana.
        </p>
        <p>
            Diab's impact was highlighted in hosting the first Google Hangout in the Middle East during his 2012 Dubai performance. Notable albums followed, including "Shoft El Ayam" (2014) and "Ahla w Ahla" (2016).</p>
        <p>
            He achieved a historic feat when "Shoft El Ayam" topped the Billboard World Albums Charts in 2014, making him the first Egyptian and Middle Eastern artist to do so.</p>
        <p>
            Continuing his musical journey, Diab released "Kol Hayaty" in 2018, a mini-album "Ana Gheir" in 2019, and his 35th album "Sahran" in 2020.
        </p>
        <p>
            In 2022, a partnership with Anghami was announced, making Diab's Nay Label catalogue exclusively available on their platform.
        </p>
        </div>
        <div class="awards-container">
            <h3>Awards</h3>
            <ul>
                <li>Seven World Music Awards (1997/2001/2007/2014/2020)</li>
                <li>Six African Music Awards (2009/2010)</li>
                <li>Two All Africa Music Awards (2016/2017)</li>
                <li>Guinness World Record (2016)</li>
            </ul>
            <figure class="award-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Amr_Diab_with_Guinness_Record_.jpg/330px-Amr_Diab_with_Guinness_Record_.jpg" alt="Amr Diab With Award">
            </figure>
        </div>
    
    </div>
</body>
</html>