html {
    background-color: rgb(98, 90, 90);
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: antiquewhite;
    padding: 50px;
    margin: 50px;
}

.main-title {
    text-align: center;
    font-size: 40px;
}

.desc{
    text-align: center;
    
}

.featured-image {
    text-align: center;
    padding: 20px;
}

.featured-image figcaption{
    font-style: italic;
}

.biography-container {
    padding: 20px 0px;
    margin: 20px 0px;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

.biography-container h2 {
    font-size: 30px;
    text-align: center;
}

.awards-container {
    display: flex;
    background-color:;
}

.awards-container li{
    font-size: 20px;
}

.awards-title {
    font-size: 30px;
    text-align: center;
}

.award-image {
    padding-left: 50px;
}

#awards-list {
    color: 20px;
    padding-top: 200px;
}